body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(doodles.png);

}


.container {
    width: 800px;
    margin: auto;
    background-color: #ffffff;
}


.header {
    padding: 20px;
    padding-bottom: 10px;
    background: linear-gradient(90deg,#0a3565,#1782d9);
}


.header ul li {
    display: inline-block;
    margin-right: 20px;
    margin-right: 10px;
    text-align: right;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 4px;

}

.header a:hover {
    background-color: lightskyblue;
}


.hero {
    height: 250px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -150px;
    border-top: 2px solid salmon;
    border-bottom: 2px solid salmon;

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
    text-decoration: 
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;

}

.footer {
    background-color: #333;
    padding: 20px;
    height: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: 5px;
    text-align: right;
    margin-top: 5px;
}